@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(../images/background/background.png);
}

/* NAVIGATION STYLES */

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: transparent;
    height: 100px;
}

.box{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    font-size: 2.5rem;
    text-align: left;
    margin-left: 25px;
    transition: ease-in-out 0.7s;
}

#logo:hover{
    transform: scale(1.12);
}

nav a{
    padding: 1rem 4%;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover,
nav a#active{
    color: purple;
    text-decoration: none;
}

#main-nav{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    margin-right: 25px;
}

#main-nav .wierd {
    margin-right: -20px;
}


#dropdown-nav{
    display: none;
    background-color: transparent;
}

#dropdown-nav li{
    margin: 5px;
    padding: 5px;
    list-style: none;
}

#main-nav li:hover #dropdown-nav{
    display: block;
    position: absolute;
    right: 20px;
}


#dropdown{
    font-size: 1.75rem;
}

/* EXTRA NAVIGATION STYLES */

.box img {
    height: 90px;
    width: auto;
}

nav#mobile-nav {
    display: none;
}

#mobile-menu {
    display: none;
    position: fixed;
    width: 280px;
    height: 100vh;
    background: pink;
    padding: 20px;
    right: 0;
    transition: right 0.75s ease-in-out;
}

/* MAIN STYLES */

.product {
    color: whitesmoke;
}

.text-color {
    color: whitesmoke;
}

#can {
    color: whitesmoke;
}